*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 10vh;
    background-color: #2E3A46;
    display: flex;
}
.logo{
  align-self: center;
  width: 3%;
  margin: 0 1em;
}
header{
    background-color: #2E3A46;
}
main {
background-color: red;

}